* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editor-preview-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75vw;
    height: 90%;
}

.markdown-editor,
.markdown-previewer {
    padding: 10px 10px;
    width: 40%;
}
.window-max {
    width: 100%;
}
.window-hidden {
    display: none;
}

#editor,
#preview {
    height: 80vh;
    width: 100%;
    overflow: scroll;
    padding: 10px 10px;
    font-size: 1.2rem;
}

#editor {
    resize: none;
}

#editor-navbar,
#preview-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: black 1px solid;
}

#btn-container {
    height: 100%;
}

#preview {
    border: black solid 1px;
}
#preview img {
    display: block;
    max-width: 20vw;
}
