* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Share Tech Mono", monospace;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editor-preview-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75vw;
    height: 90%;
}

.markdown-editor,
.markdown-previewer {
    padding: 10px 10px;
    width: 50%;
}
.window-max {
    width: 100%;
}
.window-hidden {
    display: none;
}

#editor,
#preview {
    height: 80vh;
    width: 100%;
    overflow: scroll;
    padding: 10px 10px;
}

#editor {
    resize: none;
}

#editor-navbar,
#preview-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: black 1px solid;
    width: 100%;
    height: 50px;
    padding: 10px 10px;
}
.btn-container {
    max-height: 32px;
}

.clear,
.contract,
.expand {
    font-size: 2rem;
    border: none;
    background: none;
    height: 32px;
    width: 32px;
}
.clear {
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
    cursor: pointer;
}
.expand {
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}
.contract {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.label-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

#preview {
    border: black solid 1px;
}
#preview img {
    display: block;
    max-width: 20vw;
}
